# ==============================================================================
# HomeSpace Web App (Client) - Environment Variables Template
# ==============================================================================

# 1. Keycloak Authentication & Identity Provider (IAM)
NEXT_PUBLIC_KEYCLOAK_BASE_URL=http://localhost:9000
NEXT_PUBLIC_KEYCLOAK_REALM=homespace-platform
NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=homespace-id

# 2. HomeSpace API Gateway (Spring Cloud Gateway Hub)
NEXT_PUBLIC_GATEWAY_BASE_URL=http://localhost:8080

# 3. HomeSpace Location Microservice (Self-hosted Vietnam Administrative Units)
NEXT_PUBLIC_LOCATION_SERVICE_URL=http://localhost:9999

